@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

*{
        font-family: "Sora", serif;
}
body{
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 95vh;
    width: 100%;
}
h4{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 1px;
}
img{
    border-radius: 20px;
    padding-bottom: 10px;
}
hr{
    border: 1px solid rgba(204, 204, 204, 0.397);
    margin: 20px 0;
}
.card{
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    padding: 15px;
    border: 10px;
}
.design-label{
    background: #F2EAFD;
    padding: 4px;
    max-width: 50px;
    text-align: center;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 600;
    color: #7C19EE;
}
.body-content{
    font-size: 14px;
    font-weight: 250;
}
.tag-content{
    font-weight: 400;
    color: #394150;
    font-size: 12px;
}